.task-card {
	display: flex;
	align-items: center;
	background-color: #161b22;
	min-height: 75px;
	width: 100%;
	border-radius: 5px;
	border: 1.5px solid #30363d;
	color: #c9d1d9;
	padding: 0.5rem;
	margin: 0.8rem 0;
	position: relative;

	.custom-icon:nth-of-type(2) {
		position: absolute;
		right: 22px;
		bottom: 3px;
	}
	.custom-icon:nth-of-type(3) {
		position: absolute;
		bottom: 3px;
		right: 0;
	}
}
